.place__webcite {
    display: none;
}

@media screen and (min-width: 768px) {
    .place__webcite {
        align-content: flex-end;
        width: 100%;
        display: grid;
        row-gap: 12px;
    }
}