.photo-gallary {
    max-width: 288px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 0.75rem;
}

 @media screen and (min-width: 768px) {
     .photo-gallary {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;
       }
   }

   @media screen and (min-width: 1024px) {
    .photo-gallary {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 0.875rem;
    }
}

@media screen and (min-width: 1280px) {
    .photo-gallary {
        max-width: 1184px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
    }
}